version: '3.8'

services:
  node1:
    image: raftkv:latest
    hostname: node1
    environment:
      - NODE_ID=node1
      - BOOTSTRAP=true
    ports:
      - "8080:8080"
    volumes:
      - ./vol-node1:/app/data

  node2:
    image: raftkv:latest
    hostname: node2
    environment:
      - NODE_ID=node2
      - JOIN_ADDR=node1:6000
    ports:
      - "8081:8080"
    volumes:
      - ./vol-node2:/app/data

  node3:
    image: raftkv:latest
    hostname: node3
    environment:
      - NODE_ID=node3
      - JOIN_ADDR=node1:6000
    ports:
      - "8082:8080"
    volumes:
      - ./vol-node3:/app/data
